<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shoe Store Manager 2016</title>
    </head>
    <body>
        <h1>Brands</h1>
        <hr>

        {% if brands is not empty %}
        <ul>
            {% for brand in brands %}
                <li><a href="/brand/{{brand.getId}}">{{brand.getName}}</a></li>
            {% endfor %}
        </ul>
        <form action="/delete_brands" method="post">
            <button type="submit">DELETE ALL</button>
        </form>
        <hr>
        {% endif %}

        <form action="/brands" method="post">
            <label for="name">Enter a new Brand:</label>
            <input type="text" name="name">
            <button type="submit">Create</button>
        </form>

        <hr>

        <a href="/">HOME</a>
    </body>
</html>
