<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shoe Store Manager 2016</title>
    </head>
    <body>
        <h1>Shoe Store Manager</h1>
        <hr>
        <h2>Go to <a href="/brands">BRANDS</a></h2>
        <h2>Go to <a href="/stores">STORES</a></h2>
    </body>
</html>
